{% if label %}<div class="label">{{ label }}</div>{% endif %}<div class="options">
	<ul class="preamp-upload-container">
	{% if value %}
	{% for file in value %}
	<li>
		<div class="preamp-thumbnail">
	 		{{ image(file, {'w': 150})|raw }}
	 	</div>
	 	<div class="preamp-details">
			<div class="preamp-mb-row">
				<label for="{{ name }}-title-{{ file }}">Title</label>
				<input type="text" id="{{ name }}-title-{{ file }}" name="{{ name }}_title[]" value="{{ get_the_title(file) }}">
			</div>
			<div class="preamp-mb-row">
				<label for="{{ name }}-caption-{{ file }}">Caption</label>
				<input type="text" id="{{ name }}-caption-{{ file }}" name="{{ name }}_caption[]" value="{{ caption(file) }}">
			</div>
			<div class="preamp-mb-row">
				<label for="{{ name }}-alt-{{ file }}">Alt Text</label>
				<input type="text" id="{{ name }}-alt-{{ file }}" name="{{ name }}_alt[]" value="{{ alt(file) }}">
			</div>
		</div>
		<input type="hidden" name="{{ name }}[]" value="{{ file }}">
		<a href="#" class="button preamp-remove-file">Remove Photo</a>
	</li>
	{% endfor %}
	{% endif %}
	</ul>
	<button href="#" class="button button-primary preamp_upload_button">{{ labels.button }}</button>
</div>
<script>preampInitUploadButton('{{ name }}', '{{ attributes.multiple }}', '{{ attributes.filetype }}', '{{ labels.button }}', '{{ labels.title }}');</script>