.preamp-group {
	margin-top: 0;

	.wpep-group-item {
		border: 1px solid #eee;
		padding: 0 20px 8px 20px;
		margin-bottom: 10px;
		border-radius: 4px;
		position: relative;
		background: #fff;
	}

	.preamp-new-group-item {
		display: none;
	}

	.preamp-group-remove {
		position: absolute;
		top: 5px;
		right: 5px;
		cursor: pointer;
	}

	.form-table {

		th {
			padding: 11px 10px 11px 0;
		}

		td {
			padding: 7px 10px;
		}
	}
}

.preamp-settings-page {

	.wpep-group-item {

	}
}