.preamp_mb {
	box-sizing: border-box;

	.preamp_mb_row {
		margin-bottom: 14px;
		@include clearfix;
		position: relative;
	}

	label, .label {
		width: 25%;
		min-width: 150px;
		display: block;
		vertical-align: bottom;
		padding-top: 4px;
		float: left;
		margin: 0 1% 2px 0;
	}

	input[type=text], input[type=email], textarea, select {
		width: 74%;
		margin: 0;
	}

	textarea {
		height: 100px;
	}

	.options {
		width: 74%;
		float: left;

		> div {
			margin-bottom: 4px;
		}

		label {
			float: none;
			display: inline;
			margin: 0 0 0 5px;
		}
	}

	.wppg_upload_container {

		li {
			border: 1px solid #eee;
			padding: 10px;
			border-radius: 4px;
			margin-bottom: 10px;
			position: relative;
			background-color: #fff;

			@include clearfix;
		}

		.wppg_thumbnail {
			width: 25%;
			margin-right: 3%;
			float: left;
		}

		.wppg_details {
			width: 72%;
			float: left;
		}

		img {
			max-width: 100%;
			height: auto;
		}

		label {
			width: 25%;
			min-width: auto;
			float: left;
			margin: 0 1% 0 0;
		}

		.wppg_remove {
		    position: absolute;
			bottom: 10px;
		    right: 10px;
		}

		.preamp_mb_row:last-child {
			margin-bottom: 37px;
		}
	}
}