<ul class="preamp-group">
	{{ group_items|raw }}
	<li class="preamp-new-group-item wpep-group-item" data-groupitem="{{ name }}_%%">
		<table class="form-table">
			{{ new_group_item|raw }}
		</table>
		<span class="dashicons dashicons-no preamp-group-remove"></span>
	</li>
</ul>
<a href="#" class="button-primary preamp-group-add" data-next-key="{{ next_key }}">add</a>