<li class="wpep-group-item" data-groupitem="{{ group_name }}_{{ key }}">
	<table class="form-table">
		{{ rows|raw }}
	</table>
	<span class="dashicons dashicons-no preamp-group-remove"></span>
	<span class="dashicons dashicons-arrow-up-alt2 preamp-group-up"></span>
	<span class="dashicons dashicons-arrow-down-alt2 preamp-group-down"></span>
</li>