.preamp-template, .preamp-condition-active {
  display: none; }

.preamp-group li {
  border: 1px solid #eee;
  padding: 0 20px 20px 20px;
  margin-bottom: 10px;
  border-radius: 4px; }

.preamp-group .preamp-new-group-item {
  display: none; }

.preamp-group .form-table th {
  padding: 15px 10px 15px 0; }

.preamp-group .form-table td {
  padding: 10px; }

.preamp-tabs {
  margin-top: -5px; }
  .preamp-tabs .preamp-tabs-menu label {
    color: #888;
    text-decoration: none;
    padding: 8px 15px 10px 15px;
    border-bottom: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 2px solid transparent;
    display: inline-block;
    margin-bottom: -1px; }
    .preamp-tabs .preamp-tabs-menu label:focus {
      box-shadow: none; }
    .preamp-tabs .preamp-tabs-menu label.active {
      color: #23282d;
      border-color: #eee;
      border-radius: 4px 4px 0 0;
      background-color: #FFF; }
  .preamp-tabs .preamp-tab {
    display: none;
    border-radius: 0 0 4px 4px;
    border: 1px solid #eee;
    padding: 10px; }
    .preamp-tabs .preamp-tab.active {
      display: block; }

.preamp-button {
  position: relative; }
  .preamp-button.loading span {
    opacity: 0; }
  .preamp-button.loading .lds-spin {
    display: block; }
  .preamp-button .lds-spin {
    position: absolute;
    top: 3px;
    left: calc(50% - 10px);
    display: none; }

.preamp-form-message {
  margin-left: 10px;
  display: none;
  color: #46b450; }

@keyframes lds-spin {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@-webkit-keyframes lds-spin {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

.lds-spin {
  position: relative; }

.lds-spin div > div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  -webkit-animation: lds-spin 0.8s linear infinite;
  animation: lds-spin 0.8s linear infinite; }

.lds-spin div:nth-child(1) > div {
  left: 140px;
  top: 80px;
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }

.lds-spin > div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 160px 100px;
  transform-origin: 160px 100px; }

.lds-spin div:nth-child(2) > div {
  left: 122.42640685999999px;
  top: 122.42640685999999px;
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }

.lds-spin > div:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 142.42640686px 142.42640686px;
  transform-origin: 142.42640686px 142.42640686px; }

.lds-spin div:nth-child(3) > div {
  left: 80px;
  top: 140px;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.lds-spin > div:nth-child(3) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 100px 160px;
  transform-origin: 100px 160px; }

.lds-spin div:nth-child(4) > div {
  left: 37.57359314px;
  top: 122.42640685999999px;
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }

.lds-spin > div:nth-child(4) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transform-origin: 57.57359314px 142.42640686px;
  transform-origin: 57.57359314px 142.42640686px; }

.lds-spin div:nth-child(5) > div {
  left: 20px;
  top: 80px;
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }

.lds-spin > div:nth-child(5) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: 40px 100px;
  transform-origin: 40px 100px; }

.lds-spin div:nth-child(6) > div {
  left: 37.57359314px;
  top: 37.57359314px;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }

.lds-spin > div:nth-child(6) {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  -webkit-transform-origin: 57.57359314px 57.57359314px;
  transform-origin: 57.57359314px 57.57359314px; }

.lds-spin div:nth-child(7) > div {
  left: 80px;
  top: 20px;
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

.lds-spin > div:nth-child(7) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform-origin: 100px 40px;
  transform-origin: 100px 40px; }

.lds-spin div:nth-child(8) > div {
  left: 122.42640685999999px;
  top: 37.57359314px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.lds-spin > div:nth-child(8) {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  -webkit-transform-origin: 142.42640686px 57.57359314px;
  transform-origin: 142.42640686px 57.57359314px; }

.lds-spin div:nth-child(9) > div {
  left: 140px;
  top: 80px;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.lds-spin > div:nth-child(9) {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transform-origin: 160px 100px;
  transform-origin: 160px 100px; }

.lds-spin {
  width: 20px !important;
  height: 20px !important;
  -webkit-transform: translate(-10px, -10px) scale(0.1) translate(10px, 10px);
  transform: translate(-10px, -10px) scale(0.1) translate(10px, 10px); }

.preamp-option-tab {
  display: none; }
  .preamp-option-tab.active {
    display: block; }

/*# sourceMappingURL=preamp.css.map */
